<?php

namespace Biz\Queue\Worker;

use BeanWorker\Worker\AbstractWorker;

class LogWorker extends AbstractWorker
{
    public function execute($jobId, array $data)
    {
        $this->getLogService()->info($data['module'], $data['action'], "Job#{$jobId} executed", $data['data']);

        // finish job
        return $this->finish();


        // retry job, default $pri = 1024, $delay = 3
        // return $this->retry(1024, 3);
        // bury job, default $pri = 1024
        // return $this->bury(1024);
    }

    /**
     * @return \Biz\System\Service\LogService
     */
    protected function getLogService()
    {
        return $this->container['biz']->service('System:LogService');
    }
}
