<?php
/**
* This is a demo file to show the usage of BeanWorkerBootstrap in symfony-based project.
**/

use Symfony\Component\Console\Input\ArgvInput;
use Symfony\Component\HttpFoundation\Request;
use Biz\BeanWorker\BeanWorkerBootstrap;

$input = new ArgvInput();
$env = $input->getParameterOption(array('--env', '-e'), getenv('SYMFONY_ENV') ?: 'prod');

$kernel = new AppKernel($env, true);
$kernel->setRequest(Request::createFromGlobals());
$kernel->boot();

$container = $kernel->getContainer();
$biz = $container->get('biz');

$migration = new BeanWorkerBootstrap($biz, $biz['queue.options']);

return $migration->boot();
